@import url("reset.css");

* {
	font-family: 'Roboto', sans-serif;
}

@keyframes slideLeft {
    from {
       left: 0
    }
    to {
        left: calc(-100% - .5rem)
    }
}

@keyframes slideRight {
    from {
        left: 0
    }
    to {
        left: calc(100% + .5rem)
    }
}