.imageSlider {
    width: 50%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show {
    height: 65%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.mainImage {
    width: 90%;
    filter: drop-shadow(1px 2px 4px rgb(70, 68, 68));
    cursor: pointer;
    max-height: 500px;
}


.slider {
    height: 35%;
    display: flex;
    align-items: flex-start;
    width: 80%;
}


.sliderItem {
    /* padding-left: 5%; */
    cursor: pointer;
    width: 150px;
    margin: 10px;
    padding: 5px;
}

.sliderImage {
    box-shadow: 0 0 4px 1px black;
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    cursor: pointer;
    filter: brightness(95%);
    transition-property: transform;
    transition-duration: 0.2s;
    border-radius: 6px;
}

.sliderImage:hover {
    filter: brightness(100%);
}

.sliderImage:active {
    transform: scale(1.1);
}

.sliderImageSelected {
    border: 2px solid whitesmoke;
    /* box-shadow: 0 0 4px 2px black; */
}





