.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.cartProducts {
    z-index: 1;
    height: 100%;
    padding: 2px;
}

.cartSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}



.cartProducts:hover {
    filter: brightness(95%);    
}

.removeIcon {
    display: none;
    transition: transform;
    transition-duration: 0.2s;
}

.cartProducts:hover .removeIcon {
    display: flex;
    position: absolute;
    top: 65px;
    left: 90px;
    font-size: 100px;
    z-index: 2;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 3px black);
}

.cartProducts:hover .removeIcon:hover {
    transform: scale(1.3);
}


.cartProducts:hover .removeIcon:active {
    color: rgb(207, 206, 206);
}

.submitButton {
    align-self: center;
    border-radius: 6px;
    width: 150px;
    height: 33px;
    background-color: rgb(167, 132, 119);
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px #999;
    margin-top: 30px
}

.submitButton:hover {background-color: rgb(143, 124, 117)}

.submitButton:active {
  background-color: rgb(167, 132, 119);
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}
