.row {
    display: flex;
    align-items: center;
}

.checkoutSteps > div {
    border-bottom: 0.2rem solid #c0c0c0;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    min-width: 90px;
}

.checkoutSteps > div.active {
    border-bottom-color: #836159;
    color: #836259;
}

.tickIcon {

}