.container {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 0 20px 0 20px;
    align-items: center;
    cursor: pointer;
    background-color: whitesmoke;
    color: rgb(57, 57, 71);
    height: 220px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgb(87, 88, 104);


    transition-duration: 0.2s;
    transition-property: transform;
}

.container:hover {
    transform: scale(1.1);
}

.profileImg {
    height: 48px;
    width: 48px;
}

.profile {
    flex: 3;
}

.rating {
    flex: 3;
}

.bestSellers {
    flex: 5;
}


.item {
    text-decoration: none;
}
