.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.info {
    background-color: rgb(236, 236, 236);
    border-radius: 6px;
    padding: 20px;
}

.addToCart {
    width: 170px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color: whitesmoke;
    background-color: rgb(156, 131, 123);
    border-radius: 6px;
    padding: 2px;
}

.addToCart:hover {
    background-color: rgb(124, 103, 96);
}

.addToCart:active {
    background-color: rgb(124, 103, 96);
    box-shadow: 0 0 1px 1px black;
}


.addToCartIcon {
    font-size: 25px;
}