.container {
    background-color: rgb(240, 236, 234);
    width: 210px;
    padding: 20px 20px 20px 10px;
    display: flex;
    position: fixed;
    left: 0;
    height: 100%;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 0 2px 1px rgb(134, 126, 122);

    transition-duration: 0.2s;
    transition-property: transform;
}

.containerHide {
    transform: translateX(-100%);
}

.header {
    padding-bottom: 20px;
}

.categories {
    padding: 5px;
}

.categories ul {
    list-style-type: none;
    padding-left: 10px;
}


.itemName {
    margin: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding-right: 5px;
    user-select: none;
}

.itemName:hover,
.click:checked + label > .lastItemClick:hover {
    background-color: rgb(167, 132, 119);
    color: white;
    box-shadow: 0 0 1px 1px rgb(143, 123, 115);
}

.click {
    display: none;
}

.notArrow {
    padding: 12px 0px 12px 10px;
}

.arrow {
    padding: 2px 2px 2px 3px;
    font-size: 20px;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
}

.click:checked + label > div > .arrow {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.click:checked + label > .lastItemClick {
    color: white;
    background-color: rgb(177, 151, 142);
    box-shadow: 0 0 1px 1px rgb(167, 132, 119);    
}

.itemName:active {
    background-color: rgb(177, 151, 142);
    box-shadow: 0 0 2px 2px rgb(167, 132, 119);
}

.childrenContainer {
    animation-name: slideDown;
    animation-duration: 400ms;
    overflow-y: hidden;
}


@keyframes slideDown {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
    }
}