.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addProductIcon {
    font-size: 70px;
    color: whitesmoke;
    background-color: rgb(77, 77, 90);
}

.addProductButton {
    background-color: rgb(77, 77, 90);
    border-radius: 6px;
}

.addProductButton:active, .addProductIcon:active {
    background-color: rgb(103, 103, 119);
}