.container {
	display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: calc(100vh - 50px);
    width: 80%;
    align-items: center;
}



.cancelButton {
    margin-top: 30px;
    align-self: center;
    border-radius: 6px;
    width: 150px;
    height: 33px;
    background-color: rgb(241, 241, 241);
    color: rgb(49, 49, 49);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px #999
}

.cancelButton:hover {background-color: rgb(223, 223, 223)}

.cancelButton:active {
	background-color: rgb(230, 230, 230);
	box-shadow: 0 3px #666;
	transform: translateY(2px);
}