.container {
    display: flex;
    height: 350px;
    padding: 20px 40px 20px 40px;
    width: 220px;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(232, 236, 241);
    border-radius: 6px;
    box-shadow: 0 0 4px 1px gray;
}

.input {
    height: 25px;
    font-size: 14px;
    margin: 5px;
    padding-left: 6px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 2px 1px gray;
}

.input:focus {
    outline: gray auto 1px;
}

.imageRadio {
    display: flex;
    margin: 2px;
    justify-content: space-evenly;
}

.formButtons {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.success {
    padding: 20px;
    background-color: rgb(186, 236, 186);
    border-radius: 6px;
    color: rgb(59, 66, 61);
}


.listImages {
    width: 100px;
}

.listImage {
}