.container {
    height: 50px;
    width: 100%;
    background-color:  rgb(167, 132, 119);
    display: flex;
    align-items:  center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.left {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.menuCheckbox {
    display: none;
}

.menuIcon {
    font-size: 25px;
    transition-property: transform;
    transition-duration: 0.3s;
}

.menuCheckbox:checked + label > .linkItem > .menuIcon {
    transform: rotate(270deg);
}


.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }
}

.links {
    border: 1px solid black;
}

.linkItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 45px;
    padding: 0 10px 0 10px;
    user-select: none;
}

.feedLink {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.linkItem:hover {
    background-color: rgb(124, 103, 96);
    border-radius: 6px;
}

.linkItem:active {
    background-color: rgb(134, 119, 115);
    box-shadow: 0 0 1px 1px rgb(122, 111, 107);
    border-radius: 6px;
}

.link {
    margin-right: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.center {
    flex: 4;
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 18px;
    margin-left: 5px;
}

.searchInput {
    border: none;
    width:  70%;
}

.searchInput:focus {
    outline: none;
}

.right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}


.rightItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    padding: 0 10px 0 10px;
    font-size: 16px;
    height: 45px;
    user-select: none;
    cursor: pointer;
}

.rightItem:hover {
    background-color: rgb(124, 103, 96);
    border-radius: 6px;
}

.rightItem:active {
    background-color: rgb(134, 119, 115);
    box-shadow: 0 0 1px 1px rgb(122, 111, 107);
    border-radius: 6px;
}

.itemLink {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

.iconbadge {
    width: 18px;
    height: 18px;
    background-color: rgb(158, 162, 221);
    border-radius: 50%;
    color: white;
    position: relative;
    /* left: -18px; */
    /* top: -15px; */
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 14px;
    font-weight: bold;
}


.lr {
    position: relative;
    cursor: pointer;
}

.lrItem {
    padding: 0 3px 0 3px;
    font-size: 15px;
}

.hiddenList {
    background-color: lightgray;
    border-radius: 6px;
    display: none;
    position: absolute;
    top: 40px;
    left: 25px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hiddenList .aLink {
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

.hiddenList .aLink:hover {
    background-color: rgb(167, 132, 119);
    color: white;
    border-radius: 6px;
}

.lr:hover .hiddenList {
    display: block;
}

.icon {
    font-size: 25px;
    color: white;
}

.loadingIcon {
    font-size: 25px;
    margin-left: 20px;

    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}