.order {
    width: 50%;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.shipping {
    width: 100%;
    box-shadow: 0 0 4px 1px rgb(109, 89, 79);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
    background-color: rgb(252, 247, 246);
}

.orderItem {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.orderItemImg {
    max-width: 100px;
    border-radius: 6px;
    border: 1px solid gray;
}


.info {
    display: flex;
    justify-content: space-between;
}