.container {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.items {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    justify-content: space-evenly;
    padding: 6px;
}

.arrowLeft {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.arrowRight {
    display: flex;
    justify-content: flex-start;
}

.arrow {
    filter: drop-shadow(1px 1px 1px black);
    font-size: 3rem;
    color: rgb(151, 132, 126);
    cursor: pointer;
    user-select: none;
}

.arrow:active {
    color: rgb(177, 151, 142);
    transform: scale(1.2);
}


.normal {}


.changePositions {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
}


.leftRadio:checked ~ .changePositions  .items > .normal {
    animation-name: slideLeft;
    animation-duration: 300ms;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.rigthRadio:checked ~ .items > .normal {
    animation-name: slideRight;
    animation-duration: 300ms;
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}


